<section class="agency-counter home_stat">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-4 col-md-4 col-sm-4 counter text-left text-white ">
                <img src="<%= the_stat.icon_1 %>" />
                <span class="timer" data-to="<%= the_stat.number_1 %>" data-speed="10000"><%= the_stat.number_1 %></span>
                <label><%= the_stat.title_1 %></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 counter text-left text-white">
                <img src="<%= the_stat.icon_2 %>" />
                <span class="timer" data-to="<%= the_stat.number_2 %>" data-speed="10000"><%= the_stat.number_2 %></span>
                <label><%= the_stat.title_2 %></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 counter text-left text-white">
                <img src="<%= the_stat.icon_3 %>" />
                <span class="timer" data-to="<%= the_stat.number_3 %>" data-speed="10000"><%= the_stat.number_3 %></span>
                <label><%= the_stat.title_3 %></label>
            </div>
        </div>
    </div>
</section>