<section class="gray-bg page-section-ptb home_about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="section-title">
                    <h2 class="theme-color mb-30"><%= home_page.why_us_section_title %> </h2>
                    <%= home_page.why_us_section_description.html_safe %>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="business-feature feature-text mt-30 ml-60 bg-overlay-black-50" style="background-color: #3A98D5;">
                            <div class="feature-icon position-relative">
                                <img src="<%= home_page.usp_icon_1 %>" />
                            </div>
                            <div class="feature-info mt-20 position-relative">
                                <h5 class="text-white"><%= home_page.usp_title_1 %> </h5>
                                <p class="text-white"><%= home_page.usp_subtitle_1 %></p>
                            </div>
                        </div>
                        <div class="business-feature feature-text mt-30 bg-overlay-black-50" style="background-color: #3A98D5;">
                            <div class="feature-icon position-relative">
                                <img src="<%= home_page.usp_icon_2 %>" />
                            </div>
                            <div class="feature-info mt-20 position-relative">
                                <h5 class="text-white"><%= home_page.usp_title_2 %></h5>
                                <p class="text-white"><%= home_page.usp_subtitle_2 %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="business-feature feature-text mt-30 bg-overlay-black-50" style="background-color: #3A98D5;">
                            <div class="feature-icon position-relative">
                                <img src="<%= home_page.usp_icon_3 %>" />
                            </div>
                            <div class="feature-info mt-20 position-relative">
                                <h5 class="text-white"><%= home_page.usp_title_3 %> </h5>
                                <p class="text-white"><%= home_page.usp_subtitle_3 %> </p>
                            </div>
                        </div>
                        <div class="business-feature feature-text mt-30 n mr-30 bg-overlay-black-50" style="background-color: #3A98D5;">
                            <div class="feature-icon position-relative">
                                <img src="<%= home_page.usp_icon_4 %>" />
                            </div>
                            <div class="feature-info mt-20 position-relative">
                                <h5 class="text-white"><%= home_page.usp_title_4 %> </h5>
                                <p class="text-white"><%= home_page.usp_subtitle_4 %> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>