<section class="two-side space bg-gray mb-5">
    <div class="container text-center">
        <div class="section-heading pb-5">
            <h2>Gem - Registration <span class="heading_divider"> </span> </h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
            <% unless @service.form_instruction.blank? %>
            <div class="col-md-7">
                <% else %>
                <div class="col-md-12">
                    <% end %>
                    <div class="col-left">
                        <div class="left-header">
                            <h2>Registration Form</h2>
                        </div>
                        <div class="left-data">

                            <form 
                                class="custom-form custom_form_submit" 
                                data-success-id="success_message_1" 
                                action="<%= gem_registration_inquiry_index_path %>" 
                                method="post" 
                                name="contactform" 
                                data-success-msg="Thank you! We will be in touch soon!"
                                id="cf_gem_form"
                            >

                                <%= recaptcha_action('form_fill') %>

                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <div class="form-group">
                                    <label class="text-left">Name of Business Firm</label>
                                    <input type="text" class="form-control" required="true" name="name_of_business_firm" id="name_of_business_firm" value="" onkeypress="return isNumberKey(event)">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">Address of Business Firm</label>
                                    <input type="text" class="form-control" required="true" name="address_of_business_firm" id="address_of_business_firm" value="" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">Nature of Business</label>
                                    <input type="text" class="form-control" required="true" name="nature_business_firm" id="nature_business_firm" value="" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">List of Products & Services to be sell in GeM</label>
                                    <input type="text" class="form-control" required="true" name="services_to_be_sell_in_gem" id="services_to_be_sell_in_gem" value="" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">Owner's Name *</label>
                                    <input type="text" class="form-control" required="true" name="owner_name" id="owner_name" value="" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">Owner's Aadhar Number</label>
                                    <input type="text" class="form-control" required="true" name="owner_aadhar_number" id="owner_aadhar_number" value="" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">Type of Firm</label>
                                    <select class="form-control" name="type_of_firm" id="type_of_firm">
                                        <option value="Sole Proprietor">Sole Proprietor</option>
                                        <option value="Partnership Firm">Partnership Firm</option>
                                        <option value="Private Limited Company">Pvt Ltd Company</option>
                                        <option value="Public Limited Company">Public Ltd Company</option>
                                        <option value="One Person Company">One Person Company</option>
                                        <option value="Limited Liability Partnership">Limited Liability Partnership</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="text-left">E-Mail ID *</label>
                                    
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        required="true" 
                                        name="email"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                                        id="email" 
                                        value="" 
                                        maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">Mobile No *</label>
                                    
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        required="true" 
                                        required="true" 
                                        pattern="\d{10}" 
                                        name="phone" 
                                        id="phone" 
                                        value="" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">A/C Holder Name</label>
                                    <input type="text" class="form-control" name="account_holder_name" id="account_holder_name" value="" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">Account Number</label>
                                    <input type="text" class="form-control" required="true" name="account_number" id="account_number" value="" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left">IFSC Code</label>
                                    <input type="text" class="form-control" required="true" name="ifsc_code" id="ifsc_code" value="" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="text-left date">Date of Business Incorporation</label>
                                    <input class="input-style txt-blue d-h-s form-control" required="true" placeholder="DD/MM/YYYY" type="date" name="date" id="date">
                                </div>
                                <div class="form-group">
                                    <label>Did you filed Income Tax Return?</label><br>
                                    <label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" value="Yes" name="income_tax_return" id="income_tax_return">Yes
                                        &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" value="No" name="income_tax_return" id="income_tax_return">No
                                    </label>
                                    <div id="error_trds" class="error"></div>
                                </div>
                                <div>
                                    <p>I hereby declare that information provided in the online registration form is true to the best of my knowledge and I accept terms, disclaimer, and policies by clicking "Proceed &amp; Pay" button.</p>
                                </div>
                                <div class="form-group">
                                    <input 
                                        type="submit" 
                                        class="btn btn-primary custom_form_payment_button" 
                                        id="submit"
                                        data-formidtosubmit="cf_gem_form"
                                        value="<%= @service.custom_form_button_text.nil? ? "Submit" : @service.custom_form_button_text %>"
                                        data-amount="<%= @service.custom_form_pricing %>"
                                    >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% unless @service.form_instruction.blank? %>
                <div class="col-md-5">
                    <div class="col-right">
                        <div class="right-header">
                            <h2>Instructions</h2>
                        </div>
                        <div class="right-data">
                            <%= @service.form_instruction.html_safe %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
</section>


<script type="text/javascript">
    
let paymentSettingsObject = {
    nameSelector: '#owner_name',
    emailSelector: '#email',
    phoneSelector: '#phone',
    purchasedItem: 'GEM - Registration',
    model: 'GemRegistrationInquiry'
};

</script>