<% unless @service.price_plans.count == 0 %>
<section class=" white-bg" id="price_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title text-center">
                    <h2 class="title-effect">Price</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <%  @service.sorted_price_plans.each do |p| %>
            <div class="col-lg-4 col-md-4 mb-60">
                <div class="pricing-table boxed">
                    <div class="pricing-top">
                        <div class="pricing-title">
                            <h3 class="mb-15">
                                <%= p.name %>
                            </h3>
                        </div>
                        <div class="pricing-prize">
                            <h2>
                                <%= p.price %>
                            </h2>
                        </div>
                    </div>
                    <div class="pricing-content">
                        <div class="pricing-table-list">
                            <ul class="list-unstyled">
                                <% p.available_features.each do |f| %>
                                <li> <i class="fa fa-check"></i>
                                    <%= f.strip %>
                                </li>
                                <% end %>
                                <% p.non_available_features.each do |f| %>
                                <li> <i class="fa fa-times"></i>
                                    <%= f.strip %>
                                </li>
                                <% end %>
                            </ul>
                            <div class="pricing-button pt-4 text-center">
                                <a 
                                    href="<%= new_plan_payment_path(p.params_hash_for_payment_page) %>" 
                                    class="button text-white plan_button"
                                >
                                    Choose Plan
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>
<% end %>