<%= render partial: 'layouts/header' %>
<%= render partial: 'shared/subheader', locals: {title: @blog_category.name, image: about_page.header_image } %>
<section class="blog blog-grid-3-column white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <% Blog.all.each do |b| %>
            <div class="col-lg-4 col-md-4">
                <div class="blog-entry mb-50">
                    <div class="entry-image clearfix">
                        <img class="img-fluid" src="<%= b.image.thumb %>" alt="">
                    </div>
                    <div class="blog-detail">
                        <div class="entry-title mb-10">
                            <a href="<%= blog_detail_path(slug: b.url_slug)%>">
                                <%= b.name %></a>
                        </div>
                        <div class="entry-meta mb-10">
                            <ul>
                                <li><a href="#"><i class="fa fa-calendar-o"></i>
                                        <%= b.date %></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>
                                <%= b.short_description %>
                            </p>
                        </div>
                        <div class="entry-share clearfix">
                            <div class="entry-button">
                                <a class="button arrow" href="<%= blog_detail_path(slug: b.url_slug)%>">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>
<%= render partial: 'layouts/footer' %>