<%= render partial: 'layouts/header' %>
<%= render partial: 'shared/subheader', locals: {title: contact_page.header_title, image: contact_page.header_image } %>
<section class="contact white-bg page-section-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2><%= contact_page.contact_section_title %></h2>
                    <p><%= contact_page.contact_section_subtitle %></p>
                </div>
            </div>
        </div>
        <div class="touch-in white-bg">
            <div class="row">
                <div class="col-lg-4 col-md-4 sm-mb-30">
                    <div class="contact-box text-center h-100">
                        <i class="ti-map-alt theme-color"></i>
                        <h5 class="uppercase mt-20">Address</h5>
                        <p class="mt-20"> <%= the_general.address_line_1 %> <%= the_general.address_line_2 %></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 sm-mb-30">
                    <div class="contact-box text-center h-100">
                        <i class="ti-mobile theme-color"></i>
                        <h5 class="uppercase mt-20">Phone</h5>
                        <p class="mt-20"> <a href="tel:<%= the_general.phone %>" style="color:inherit;"><%= the_general.phone %></a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 sm-mb-30">
                    <div class="contact-box text-center h-100">
                        <i class="ti-email theme-color"></i>
                        <h5 class="uppercase mt-20">Email</h5>
                        <p class="mt-20"><a href="mailto:<%= the_general.email %>" style="color:inherit;"><%= the_general.email %></a> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="mt-50 mb-30"><%= contact_page.form_section_title %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="formmessage">Success/Error Message Goes Here</div>
                <form class="custom-form custom_form_submit" data-success-id="success_message_1" action="<%= request_callback_enquiry_path %>" method="post" name="contactform" data-success-msg="Thank you! We will be in touch soon!" style="padding: 25px 30px 20px;">

                    <%= recaptcha_action('form_fill') %>

                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <div class="contact-form clearfix">
                        
                        <div class="section-field">
                            <input id="name" type="text" placeholder="Name*" class="form-control" name="name">
                        </div>
                        
                        <div class="section-field">
                            <input type="email" placeholder="Email*" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        </div>
                        
                        <div class="section-field">
                            <input type="text" placeholder="Phone*" class="form-control" name="phone" pattern="\d{10}">
                        </div>
                        
                        <div class="section-field textarea">
                            <textarea class="form-control input-message" placeholder="Comment*" rows="7" name="message"></textarea>
                        </div>

                        <div class="section-field submit-button">
                            <input type="hidden" name="action" value="sendEmail" />
                            <button id="submit" name="submit" type="submit" value="Send" class="button"> Send your message </button>
                        </div>
                    </div>
                </form>
                <div id="ajaxloader" style="display:none"><img class="mx-auto mt-30 mb-30 d-block" src="images/pre-loader/loader-02.svg" alt=""></div>
            </div>
        </div>
    </div>
</section>

<section>
  <iframe src="<%= the_general.map_url %>" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
<%= render partial: 'layouts/feature' %>
<%= render partial: 'layouts/footer' %>