<style type="text/css">
    @media only screen and (min-width: 768px) {

        .mega-menu .menu-links > li > a {
            font-size: 13px;
        }

    }

    .topbar p {
        margin-bottom: 0px;
        text-align: right;
    }
</style>

<header id="header" class="header default">
    <div class="topbar" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 xs-mb-10">
                    <%# <%= GeneralSetting.first.top_bar_content.html_safe %> %>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li>
                                    <a href="<%= home_path %>"><img id="logo_img" src="<%= the_general.header_logo %>" alt="logo"> </a>
                                </li>
                            </ul>
                            <!-- menu links -->
                            <div class="menu-bar">
                                <ul class="menu-links">

                                   <% ServiceCategory.all.each do | sc | %>

                                       <li><a href="javascript:void(0)"><%= sc.name %> <i class="fa fa-angle-down fa-indicator"></i></a>
                                        <!-- drop down multilevel  -->
                                          <div class="drop-down grid-col-5 menu-offset-4">
                                          <!--grid row-->
                                           <div class="grid-row">
                                             <!--grid column 3-->

                                              <% sc.service_sub_categories.each do | service_sub_category | %>

                                                  <div class="grid-col-<%= sc.menu_column_size %>">
                                                   <ul>
                                                     <li>
                                                        <a href="javascript:void(0)" style="font-weight: bold;">
                                                            <img src="<%= service_sub_category.menu_icon %>" style="height: 15px;" />
                                                            &nbsp;
                                                            <%= service_sub_category.name %>
                                                        </a>
                                                    </li>
                                                    <% service_sub_category.services.each do | service | %>
                                                        <li>
                                                          <% unless service.url_slug.blank? %>
                                                            <a href="<%= service_detail_path(slug: service.url_slug)%>">
                                                                <%= service.name %>
                                                            </a>
                                                            <% end %>
                                                           <% unless service.external_website_link.blank? %>
                                                            <a href="<%= service.external_website_link %>" target="blank">
                                                                <%= service.name %>
                                                            </a>
                                                            <% end %>
                                                        </li>
                                                    <% end %>
                                                   </ul>
                                                  </div>

                                              <% end %>

                                             </div>
                                            </div>
                                         </li>

                                   <% end %>


                                  <li><a href="<%= offer_path %>">Offers</a></li>

                                  <li><a href="<%= pay_now_path %>">Pay Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <!-- menu end -->
    </div>
</header>